<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="row d-flex justify-content-center text-center">
  <div class="col-12 col-md-8 col-lg-6 m-4 p-3">
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading">Error</h3>
      <h4>404 Not Found!</h4>
    </div>
  </div>
</div>

<%- include('partials/footer')%>