<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Mini Project</title>
</head>
<body>
    <section class="head-section">
        <%- include('partials/nav')%>

        <div class="hero-text">
            <h2>One platform to handle assignment evaluation</h2>
        </div>
    </section>
</body>
</html>