<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

</head>
<body>
    <%- include('partials/nav')%>
	<div class="container">
		<div class="header">
			<h2>login</h2>
			<hr>
        
        </div>
		<form class="form" name="form" action="/login" method="POST" autocomplete="off" onsubmit="return validate()">
			
			<label for="ID">ID</label><br>
			<input type="text" name="username" >
			<br><br>
         
    
            <label for="password">Password</label><br>
			<input type="text" name="password" >
            <br><br>
            
            
            <button type="submit" class="register">Login</button>
    	</form>


</div>


<script>
function validate()                                    
{ 
           
    var ID = document.forms["form"]["ID"];  
    var password =  document.forms["form"]["password"];  
   
    
    if (ID.value === "")                           
    { 
        window.alert("Please enter your ID number."); 
        phone.focus(); 
        return false; 
    } 


     if(password.value === "") {
					alert("Enter Password");
				    return false;
				}
   
     return validate(); 
}

</script> 

</body>

</html>