<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="d-flex align-items-center justify-content-center text-align-center flex-column" style="height: 80vh;">
  <div class="header">
    <h1 class="display-2 text-center">Welcome to eClassroom.</h1>
  </div>
  <div>
    <a class="btn btn-dark mt-3 p-3" href="/admin/projects" role="button">View Assignments</a>
  </div>
</div>

<%- include('partials/footer')%>